In [30]:
n=6
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for k in range(i+1):
        print('%',end=' ')
    for m in range(i):
        print('%',end=' ')
    print()

            %
          % % %
        % % % % %
      % % % % % % %
    % % % % % % % % %
  % % % % % % % % % % %

In [134]:
n=6
for i in range(n):
    for j in range(1,i+1):
        print((' '*(n-i))+(str(j)+""*j),end=' ')
    print()

     1
    1     2
   1    2    3
  1   2   3   4
 1  2  3  4  5

In [29]:
n=6
for i in range(n):
    print((' '*(n-i))+("*"+' ')*i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [36]:
n=6
for i in range(1,n):
    print('*'*(i))

*
**
***
****
*****

In [1]:
n = 6
for i in range(1, n):
    print('* '*(n-i))

* * * * *
* * * *
* * *
* *
*

In [64]:
n = 6
for i in range(1, n):
    print('  '*(n-i)+' *'*i)

           *
         * *
       * * *
     * * * *
   * * * * *

In [99]:
n = 6
for i in range(1, n+1):
    print('* '*(i)+('    '*(n-i))+(' *')*i)
for i in range(1, n):
    print(('* ')*(n-i)+(("    ")*(i))+(" *")*(n-i))

*                      *
* *                  * *
* * *              * * *
* * * *          * * * *
* * * * *      * * * * *
* * * * * *  * * * * * *
* * * * *      * * * * *
* * * *          * * * *
* * *              * * *
* *                  * *
*                      *

In [111]:
n = 6
for i in range(1, n):
    print('* '*(n-i))
for i in range(1, n):
    print('* '*(i))

* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

In [119]:
n = 5
for i in range(n-1):
    print('* '*(n-i))
for i in range(1,n+1):
    print('* '*(i))

* * * * *
* * * *
* * *
* *
*
* *
* * *
* * * *
* * * * *

In [149]:
n = 6
for i in range(n):
    for j in range(1, i+1):
        print(('   '*(n-i))+(str(j)), end='')
    print()

               1
            1            2
         1         2         3
      1      2      3      4
   1   2   3   4   5

In [174]:
n = 6
for i in range(1,n):
    print((' ')*(n-i), end=' ')
    for j in range(1,i+1):
        print(str(j) , end=' ')
    print()

      1
     1 2
    1 2 3
   1 2 3 4
  1 2 3 4 5

In [179]:
n = 6
alfa=65
for i in range(1, n):
    print((' ')*(n-i), end=' ')
    for j in range(i):
        print(chr(alfa+j), end=' ')
    print()

      A
     A B
    A B C
   A B C D
  A B C D E

In [64]:
# 5. Write a Python program to count the number of strings from a given list of strings. The string
# length is 2 or more and the first and last characters are the same. Sample List : ['abc', 'xyz', 'aba',
# '1221'] Expected Result : 2
l = ['abc', 'xyz', 'aba','1221']
count=0
for i in l:
    if i[0]==i[-1]:
        # print(i)
        count=count+1
count

3

In [65]:
l = ['abc', 'xyz', 'aba', '1221','a']
count=0
for i in l:
    if len(i)>=2 and i[0]==i[-1]:
        count+=1
count

2

In [75]:
li = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
res=sorted(li,key=lambda x: x[-1])
res

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [83]:
def check_list(lst):
    if len(lst)==0:
        print('enmpty list')
    else:
        print('not empty')
l1=[]
l2=[1,2,4,3,2,2]
check_list(l1)
check_list(l2)

enmpty list
not empty

In [87]:
def find_long_words(n,w_list):
    long_w=[]
    for i in w_list:
        if len(i)>n:
            long_w.append(i)
    return long_w

n=5
l = ['apple', 'banana', 'orange', 'grape', 'watermelon']
find_long_words(n,l)

['banana', 'orange', 'watermelon']

In [89]:
def comman_member(l1,l2):
    for i in l1:
        if i in l2:
            return True
    return False
l1=[1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]
comman_member(l1,l2)

True

In [91]:
def remove_ele_0_4_5th(lst,remove_li):
    res=[]
    for i in range( len(lst)):
        if i not in remove_li:
            res.append(lst[i])
    return res

lst = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
remove_li = [0, 4, 5]
remove_ele_0_4_5th(lst,remove_li)

['Green', 'White', 'Black']

In [94]:
def remove_even_numbers(lst):
    result = []
    for num in lst:
        if num % 2 != 0:
            result.append(num)
    return result
# Example usage
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(remove_even_numbers(numbers))

[1, 3, 5, 7, 9]

In [110]:
n=6
for i in range(1,n+1):
    for j in range(1,n+1):
        if (i == j) or (j == 1) or (i == n):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*
* *
*   *
*     *
*       *
* * * * * *

In [204]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==1 or j==1 or i==n or j==n:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [189]:
n = 6
for i in range(n, 0, -1):
    for j in range(i, 0, -1):
        if i == j or j == 1 or i == n :
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * *
*       *
*     *
*   *
* *
*

In [217]:
n = 6
for i in range(1,n+1):
    for j in range(1,n+1):
        if i == 1 or j == n or i==j:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * *
  *       *
    *     *
      *   *
        * *
          *

In [251]:
n = 6
for i in range(1,n+1):
    print('  '*(n-i),end='')
    for j in range(1,n+1):
        if   j == 1 or i==n or i==j :
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

          *
        * *
      *   *
    *     *
  *       *
* * * * * *

In [263]:
n = 6
for i in range(1, n+1):
    print(' '*(n-i), end='')
    for j in range(1, n+1):
        if j == 1 or  i == j:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()
n = 6
for i in range(n, 0, -1):
    print(' '*(n-i), end='')

    for j in range(i, 0, -1):
        if i == j or j == 1 or i == n:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

     *
    * *
   *   *
  *     *
 *       *
*         *
* * * * * *
 *       *
  *     *
   *   *
    * *
     *

In [264]:
l=[1,2,3,4,5,6,7,8,9,10]
res=[]
for i in l:
    if i%2!=0:
        res.append(i)
res

[1, 3, 5, 7, 9]

In [10]:
l = [10, 20, 30, 40, 50]
for i in range(len((l))):
    print(i,'index 0f ele',l[i])

0 index 0f ele 10
1 index 0f ele 20
2 index 0f ele 30
3 index 0f ele 40
4 index 0f ele 50

In [11]:
for i,ele in enumerate(l):
    print(i,'index of ele',ele)

0 index of ele 10
1 index of ele 20
2 index of ele 30
3 index of ele 40
4 index of ele 50

In [15]:
# Write a Python program to convert a list of characters into a string.
l = ['H', 'e', 'l', 'l', 'o']
s=''.join(l)
s

'Hello'

In [19]:
# Write a Python program to find the index of an item in a specified list.
def find_index(l,search):
    for index,ele in enumerate(l):
        if ele==search:
            return index
    else:
        print(search,'not found')
l=[10,20,30,40,50]
serch=90
find_index(l,serch)

90 not found

In [20]:
# Write a Python program to append a list to the second list.

l=[1,2,3,4]
l2=[12,1,2,3,4]
l.extend(l2)
l

[1, 2, 3, 4, 12, 1, 2, 3, 4]

In [24]:
# Write a Python program to flatten a shallow list.
def flatten_list(shallow_list):
    l2 = []
    for i in shallow_list:
        if isinstance(i, list):
            l2.extend(i)
        else:
            l2.append(i)
    return l2
# Example usage
shallow_list = [1, 2, [3, 4], 5, [6, 7, 8]]
l2 = flatten_list(shallow_list)
print("Flattened list:", l2)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
# . Write a Python program to select an item randomly from a list.

import random
l=[12,3,54,67,3,56,87,4,54,34]
rn=random.choice(l)

rn

12

In [36]:
random.seed(10,2)
print(random.random())

0.5714025946899135

In [37]:
print(random.getstate())

(3, (2910518045, 2919558713, 592432859, 1634426085, 3924201493, 2436393689, 1577666200, 2922410003, 974169664, 795094350, 229866157, 130904809, 1313496028, 151893204, 3486739395, 1254617844, 3741002464, 4043461294, 940567236, 3349574631, 3489906999, 3261599347, 2403221536, 670872903, 3291149686, 2850655986, 2300538667, 1966995484, 175963536, 924945844, 1168257397, 2243822545, 2476790015, 2148121793, 3534563085, 1634343159, 2195478836, 1940344654, 370949334, 790535762, 1834814106, 4193214965, 3695000399, 2646949069, 1255132785, 3590688196, 3614018245, 1434516408, 1253983818, 2914647727, 2606531973, 2406691187, 1975526356, 189193241, 1108539432, 2680589103, 1694965793, 1270659808, 2973657439, 2369101683, 3184678051, 2395301497, 3818025635, 2083282924, 2495703181, 2124728846, 2038113894, 4244989963, 1156889065, 862609957, 2423551262, 3819059707, 663961624, 1681714007, 956580344, 1691052737, 2131558558, 654187240, 632833144, 3714198047, 567096537, 899554154, 1802427323, 749355744, 2193727072, 814094773, 1966673377, 3483188262, 3304963165, 1367177032, 3891513754, 2505812233, 2020523939, 1985742846, 626704061, 2653107502, 369960010, 286620024, 1371527384, 3694698447, 857611653, 869587454, 2700337194, 2374526720, 49116546, 643099391, 182535168, 3408150791, 1262701388, 2044935380, 66933741, 1206230504, 3689390267, 3730160777, 1209037781, 3887489275, 4160956783, 3262330543, 1378506881, 213395142, 4003002911, 1240622885, 1127976482, 862859126, 951706629, 423108747, 795053686, 963998611, 1732453326, 736754916, 848978347, 3030738943, 3997094088, 3230629491, 2362366182, 380869993, 1437617939, 4032723754, 2655721859, 494454313, 3031980635, 3186607144, 1650607978, 4217776597, 4190195720, 725273803, 4006933892, 2918307247, 2612992595, 3215906428, 2851350426, 138902605, 1697094929, 2328216144, 394484776, 1652463476, 1630639266, 3699042210, 290713434, 3556002357, 1343746095, 1326206488, 655702823, 104936293, 2562826877, 1655598022, 3369850420, 2464204480, 3646132136, 3777599822, 3250707394, 1311671700, 660106068, 2666540169, 3855967181, 3367262877, 3654600570, 4182463737, 2035454178, 3131455025, 3350888983, 2034228846, 3896381437, 553700319, 1513975352, 696913668, 899881025, 2219743994, 1037817141, 1134907302, 393009801, 1982642987, 2425999375, 791671476, 3795955847, 1034404248, 4020367997, 27481502, 1351841369, 2355714421, 2404611283, 479609721, 1112463824, 3928318551, 938984560, 719567750, 110352693, 1639696170, 3186598251, 761292111, 475645688, 2270995138, 728894833, 2926173947, 1320936647, 3383250105, 65720013, 2671014330, 2847387027, 2969121075, 3329352935, 3770288520, 3964206281, 4168182361, 1707359060, 1408257001, 3450715693, 628449203, 610896409, 588905957, 1322830820, 3640462283, 4044750620, 2988164925, 4083824041, 1990129261, 4156233382, 3627401237, 3211010341, 1666616239, 2972480848, 844583042, 44704583, 3282062939, 2321904370, 13127913, 2065944849, 2364468384, 476631061, 3534359369, 1647310850, 266968272, 3454720710, 1795924682, 1820316222, 2507582687, 1496785810, 3992024104, 2288242718, 1335683996, 723170702, 1489652666, 3949068654, 320306710, 4039547071, 1817806802, 3128530084, 1963667656, 2299476734, 2214544820, 256065957, 976636793, 438871982, 3257022782, 3658046347, 1888125657, 3003359985, 3232519787, 2193873780, 2536958314, 612736659, 1757352080, 4126160663, 4208600692, 3357929051, 1349803408, 709797723, 2862193196, 2733865338, 1847917732, 2982838690, 756992610, 416120390, 1772328840, 3511192812, 3639215236, 581323757, 3429866854, 3299034763, 81263526, 2143662131, 3509206122, 1142149236, 2288638797, 2314182509, 3192068459, 2648103877, 31364268, 2871284653, 1933723073, 3554926164, 3163027549, 896467848, 3570120642, 4038118284, 392098617, 1167346532, 1785455384, 2033872205, 1693658308, 2059628508, 2889657430, 2071562487, 4113666792, 3822310955, 3533962258, 1371655696, 1403861461, 421464014, 3959461194, 4149058179, 1086465771, 1015946246, 2621382350, 2000582283, 2881047661, 1627167598, 3039242003, 870964291, 3355521124, 2260981, 1193867314, 1982094414, 3007508121, 2789947772, 167554690, 3028775942, 3246523627, 3674172133, 2758002636, 1559765501, 2027717592, 2915111825, 1190458685, 1058903556, 2432688681, 971451939, 1888620569, 975460118, 1624467345, 136309091, 3997234029, 598318846, 2989382797, 3608316101, 45266846, 1528146332, 1965658838, 3637786198, 2524595919, 4232358541, 1631453446, 1639144870, 4020252532, 3236917143, 1360250576, 2788984411, 3762745571, 3613352771, 3217621372, 301525683, 1343328237, 376601489, 1111565393, 3852204545, 425855701, 3603214514, 336697868, 803277263, 4248673218, 3324796209, 1656738380, 3899708684, 4031041788, 2708835100, 1110160947, 1298501877, 1740735328, 862669803, 3200748959, 1070336453, 1445010694, 780106578, 153499529, 1688823727, 3505867478, 2474839954, 4132413130, 3784848098, 2090083651, 4108657297, 1011350285, 1479116717, 988654479, 1105442054, 380740504, 3203487161, 2643610060, 3322988986, 3221217626, 3592249213, 2779884253, 2044186223, 3076165135, 3806351734, 3060357717, 2863011615, 1169058161, 1113969302, 1045981805, 311464233, 2236176646, 1435805243, 3509008257, 2512719556, 3206195232, 1171330831, 3022981576, 3076049986, 1677146765, 3823183119, 1331676465, 774674370, 2425031589, 3005427466, 3407759373, 3141051671, 3903949247, 3364298405, 1079187575, 3726093522, 2717490088, 3888044370, 1773096918, 123582274, 3938703114, 116639222, 1093335968, 4230241756, 592927768, 1215086274, 990026541, 2309421364, 1242303966, 996591525, 4178510717, 3476836050, 2178247059, 3556310446, 2628742925, 122665979, 1780590194, 2922761788, 1222392510, 631653315, 3959254022, 3653793144, 612798403, 3314303312, 3895051139, 1208878662, 484620038, 3626750088, 3921956316, 3904249617, 3353478870, 249377279, 1753034227, 3565445698, 2095500303, 2480455683, 1292245244, 946291267, 684375320, 104145271, 2913686448, 2225127489, 2472333904, 750174656, 4004286304, 4085497527, 3271252141, 1864494644, 4199917053, 1358886282, 358292498, 2284423264, 797448349, 2293886434, 2336156133, 2389862705, 1443734706, 1644943784, 4261302510, 3324227082, 2865938428, 3042091860, 454590046, 1243572319, 1931670576, 709576968, 1404809709, 434868187, 2115929572, 4209433267, 1742225740, 824328396, 2952650178, 3096666239, 2887532264, 4149344548, 2648994466, 1276043052, 2495228838, 3764729951, 730275817, 4277707459, 1591279516, 312613621, 1748807698, 397249599, 3326824925, 892425536, 1889212692, 1705415062, 2399075847, 2028569480, 2077597603, 559770995, 216133874, 813523529, 1663090043, 1327536309, 1126315189, 3535249660, 1641628170, 348337888, 3109355426, 4058285115, 859672864, 2699711497, 816683043, 2182992420, 1814760603, 3746802868, 3646961272, 3713358315, 492059394, 1300908413, 3272406897, 1809600926, 2628610618, 244337251, 1948103926, 991353850, 543539075, 1534159671, 1747272920, 4028644690, 2570417421, 2025455257, 1249379269, 2357813788, 266006694, 1706446538, 1938738160, 2482161797, 3559851357, 3073890391, 227514435, 152405858, 1227333167, 261909105, 3384151334, 1102033054, 197708743, 1157470553, 478563148, 440882900, 686627002, 357675544, 477440013, 1561143843, 2428402127, 3322010885, 3820876946, 3288851063, 2607677986, 222929805, 4257935406, 3469582068, 3578401122, 3245095917, 1435026106, 1525707182, 1550874090, 3218908085, 1476614429, 1169975610, 1160989991, 1383567367, 4084887544, 2096043608, 2194693540, 2), None)

In [38]:
print(random.randrange(3, 9))

6

In [40]:
print(random.randint(3, 9))

7

In [42]:
random.shuffle(l)
l

[34, 3, 56, 12, 3, 54, 87, 54, 4, 67]

In [45]:
print(random.sample(l, k=2))

[34, 87]

In [46]:
print(random.random())

0.860161037286291

In [47]:
print(random.uniform(20, 60))

44.1276244387274

In [54]:
print(random.triangular(20, 60, 30))

27.29323370562641

In [64]:
# Write a Python program to find the second smallest number in a list.

l=[2,5,23,46,56,23,0.1,4,5,23]
if len(l)<2:
    print('None')
small=float('inf')
sec_sm=float('inf')
for i in l:
    if i<small:
        sec_sm=small
        small=i
    elif i<sec_sm and i!=small:
        sec_sm=i
sec_sm

2

In [58]:
small=float('inf')
for i in l:
    if i<small:
        small=i
small

0.1

In [59]:
maxi=0
for i in l:
    if i>maxi:
        maxi=i

maxi

56

In [74]:
sec_max=l[0]
mac=l[0]
l = [2, 5,46, 46, 56, 56, 23, 0.1, 4, 5, 23]

for i in l:
    if i>mac:
        sec_max=mac
        mac=i
    elif i>sec_max and i!=mac:
        sec_max=i
sec_max

46

In [77]:
# 30. Write a Python program to get the frequency of elements in a list.

l = [2, 5, 46, 46, 56, 56, 23, 0.1,4,4,4, 4, 5, 23]
d={}
co=0
for i in l:
    if i not in d:
        d[i]=1
    else:
        d[i]+=1
d

{2: 1, 5: 2, 46: 2, 56: 2, 23: 2, 0.1: 1, 4: 4}

In [3]:

t=int(input())
for _ in range(t):
    n=int(input())
    s=input()
    co=s.count('1')
    if n%2==0:
        if co%2 or co%2:
            print('Yes')
    else:
        print('No')

Yes
No
Yes

In [2]:
T = int(input())
for _ in range(T):
    n = int(input())
    str1 = input()
    count1 = str1.count('1')
    count0 = str1.count('0')
    com =  0
    if n % 2 == 0:
        if count1 % 2 and count0 % 2:
            print('NO')
        else:
            print('YES')
    else:
        print('YES')

Yes

In [4]:
def count_mixes(n, quantities):
    total_mixes = 0

    for i in range(n):
        for j in range(i + 1, n):
            total_mixes += quantities[i] * quantities[j]

    return total_mixes


t = int(input())

for _ in range(t):
    n = int(input())
    quantities = list(map(int, input().split()))

    result = count_mixes(n, quantities)
    print(result)

77
23

ValueError: invalid literal for int() with base 10: 'dfd'