In [5]:
number = {24:1}

# returns valid attributes of the number list
print(dir(number))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [6]:
 help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [7]:
print(pow(3, 4))

81

In [9]:
n=25
flag=False
if n==1:
    print(n,'not prime')
else:
    for i in range(2,n):
        if n%i==0:
            flag=True
            break
if flag:
    print(n,'prime')
else:
    print(n, 'not prime')

25 prime

In [10]:
# Python program to display all the prime numbers within an interval

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num,end=' ')

Prime numbers between 900 and 1000 are:
907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [17]:
a='q'
print(a+1)

TypeError: can only concatenate str (not "int") to str

In [1]:
# Function to create a 2D array with dimensions rows x cols
def create_2d_array(rows, cols):
    # Using list comprehension to create rows
    array_2d = [[0 for _ in range(cols)] for _ in range(rows)]
    return array_2d

# Example: Create a 3x4 2D array
rows = 3
cols = 4
my_2d_array = create_2d_array(rows, cols)

# Display the 2D array
for row in my_2d_array:
    print(row)

[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]

In [3]:

def my2dArray(row,cols):
    a=[[0 for _ in range(cols)] for _ in range(row)]
    return a

row=3
cols=4
arrary=my2dArray(row,cols)
for i in arrary:
    print(i)

[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]

In [8]:
# Function to create a 3D array with dimensions depth x rows x cols
def create_3d_array(depth, rows, cols):
    # Using list comprehension to create depth, rows, and cols
    array_3d = [[[1 for _ in range(cols)]
                 for _ in range(rows)] for _ in range(depth)]
    return array_3d


# Example: Create a 2x3x4 3D array
depth = 2
my_3d_array = create_3d_array(depth, rows, cols)

# Display the 3D array
for matrix in my_3d_array:
    for row in matrix:
        print(row)
    print()

[1, 1, 1, 1]
[1, 1, 1, 1]
[1, 1, 1, 1]

[1, 1, 1, 1]
[1, 1, 1, 1]
[1, 1, 1, 1]

In [24]:
def threedarrary(r,c,d):
    a=[[[0 for i in range(c)] for _ in range(r)] for _ in range(d)]
    return a
c=3
r=4
d=2
ar=threedarrary(c,r,d)
for i in ar:
    for j in i:
        print(j)
    print()

[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]

[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]

In [28]:
# Specify dimensions
rows = 3
cols = 4

# Create a 2D array using nested loops
my_2d_array = []
for i in range(rows):
    row = []
    co=0
    for j in range(cols):
        co+=1
        row.append(co)
    my_2d_array.append(row)

# Display the 2D array
for row in my_2d_array:
    print(row)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [29]:
# Specify dimensions
depth = 2
rows = 3
cols = 4

# Create a 3D array using nested loops
my_3d_array = []
for i in range(depth):
    matrix = []
    for j in range(rows):
        row = []
        for k in range(cols):
            row.append(0)
        matrix.append(row)
    my_3d_array.append(matrix)

# Display the 3D array
for matrix in my_3d_array:
    for row in matrix:
        print(row)
    print()

[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]

[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]

In [31]:
n=[i*10 for i in range(1,10)]
print(n)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [37]:
n=[n for n in range(11) if n%2==0]
print(n)

[0, 2, 4, 6, 8, 10]

In [41]:
l=[(1,2),(3,1),(4,0)]
a=list((sorted(l,key=lambda x: x[-1])))
a

[(4, 0), (3, 1), (1, 2)]

In [1]:
l = ['abc', 'xyz', 'aba','1221']
co=0
for i in l:
    if len(i)>2 and i[0]==i[-1]:
        co+=1
co

2

In [3]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
a=sorted(l,key=lambda x:x[-1])
a

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [9]:
lst= [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
n = len(lst)
for i in range(n):
 for j in range(0, n-i-1):
  if lst[j][-1] > lst[j+1][-1]:
    lst[j], lst[j+1] = lst[j+1], lst[j]
lst

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [13]:
l=[]
if len(l)==0:
    print(' empty')
else:
    print("not empty")

 empty

In [3]:
l = ['H', 'e', 'l', 'l', 'o']
a=''.join(l)
a

'Hello'

In [10]:
s='Hello hariom' #hariom Hello
s1=s.split()
s2=[]
for i in s1:
    s2.insert(0,i)
print(s2)

['hariom', 'Hello']

In [26]:
s = 'Hello hariom'  # hariom Hello
s2=s.split()[::-1]
s3=' '.join(s2)
s3

'hariom Hello'

In [29]:
s='restart' #resta$t
s1=s[0]
s=s.replace(s1,'$')
s=s1+s[1:]
s

'resta$t'

In [33]:
def mix(a,b):
    na=b[:2]+a[2:]
    nb=a[:2]+b[2:]
    return na+' ' +nb

mix('abc', 'xyz')  # 'xyc abz'

'xyc abz'

In [1]:
x=0.25
print("{:.2%}".format(x))

25.00%

In [8]:
x=2000000
print("{:,}".format(x))

2,000,000

In [11]:
x = 22
print("{:< 10d}".format(x))

 22

In [12]:
x = 22
print("{: 10d}".format(x))

        22

In [15]:
x = 22
print("{:^ 10d}".format(x))

    22

In [16]:
string = "Welcome to TutorialsPoint family"
for s in range(0, len(string)):
   count = 1
   for t in range(s+1, len(string)):
      if (string[s] == string[t] and string[s] != ' '):
         count = count + 1
   string = string[:t] + '0' + string[t+1:]
   if (count > 1 and string[s] != '0'):
      print(string[s], " - ",count);

All the duplicate characters in the string are:
e  -  2
l  -  3
o  -  4
m  -  2
t  -  3
o  -  3
t  -  2
o  -  2
i  -  3
a  -  2
l  -  2
i  -  2

In [26]:
s = 'thequickbbbbbbbbbbbbbbbbbrownfoxjumpsoverthelazydog'
d={}
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i] = 1
for j in d:
    if d[j]>1:
        print(j,d[j])

t 2
h 2
e 3
u 2
b 17
r 2
o 4

In [31]:
import string
alphabet = (string.ascii_lowercase)
alphabet

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [33]:
s="welcome to my school"
co=0
for i in s:
    if i=='o':
        co+=1
co

4

In [36]:
s = "welcome to my46544654 school"
sum=0
for i in s:
    if i.isdigit():
        sum=sum+int(i)
sum

38

In [40]:
word = "Red Green Black White Pink"
re=' '.join(sorted(word.split()))
re

'Black Green Pink Red White'

In [43]:
word = "Red Green Black White Pink"
re=' '.join(sorted(word.split()))
re

'Black Green Pink Red White'

In [46]:
x='Shalu'
print(id(x))

139941817111920

In [54]:
leap_year=1608
if leap_year%4==0 and leap_year%400==0:
    print('Leap year')

elif leap_year%4==0 and leap_year%100 !=0:
    print('leap year')
else:
    print('not')

leap year

In [58]:
#armstromg
n=153
l=len(str(n))
s=n
sum=0
while n!=0:
    r=n%10
    sum+=r**l
    n//=10

if s==sum:
    print('armstrong')
else:
    print('not')

armstrong

In [61]:
n = 153
for n in range(1,1000):
    l = len(str(n))
    s = n
    sum = 0
    while n != 0:
        r = n % 10
        sum += r**l
        n //= 10

    if s == sum:
        print(s,end=' ')

1 2 3 4 5 6 7 8 9 153 370 371 407

In [68]:
for n in range(1,100):

    s = n
    res=0
    while n != 0:
        r = n % 10
        res =(res*10)+r
        n //= 10

    if s == res:
        print(s,end=' ')

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99