In [22]:
#reverse list
l=[1,2,3,4,5,6]
length=len(l)
# print(length)
mid=length//2
# print(mid)
for i in range(mid):
    # print(i)
    j=length-1-i
    # print(j)
    print(l[i],l[j])
    l[i],l[j]=l[j],l[i]

print(l)

1 6
2 5
3 4
[6, 5, 4, 3, 2, 1]

In [25]:
#sort list
l=[1,2,3,4,5,6,7]
length=len(l)
# print(length)
mid=length//2
# print(mid)
for i in range(mid):
    # print(i)
    j=length-1-i
    # print(j)
    print(l[i],l[j])
    l[i],l[j]=l[j],l[i]

print(l)

1 7
2 6
3 5
[7, 6, 5, 4, 3, 2, 1]

In [30]:
# sort list

l=[1,3,6,5,47,3,89,8723,74]
n=len(l)

for i in range(n):
    for j in range(i+1,n):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
print(l)

[1, 3, 3, 5, 6, 47, 74, 89, 8723]

In [32]:
l=[2,4,6,8,4,87,9]
max=l[0]
for i in l:
    if i>max:
        max=i
max

87

In [5]:
#swap list 
def swap(lst,pos1,pos2):
    lst[pos1],lst[pos2]=lst[pos2],lst[pos1]

l=[2,3,4,65,7,8,65,34]
swap(l,1,5)
l

[2, 8, 4, 65, 7, 3, 65, 34]

In [7]:
#length og list
list=[323,4323,56,32335,66879,89,12,33]
c=0
for i in list:
    c=c+1
c

8

In [11]:
#add item in list

def additem(l,item):
    l+=[item]
list=[1,2,4,5,7,4,6]
additem(list,100)
list

[1, 2, 4, 5, 7, 4, 6, 100]

In [12]:
#remove item from list
my_list = [1, 2, 3, 4, 5]
item_to_remove = 3
my_list = [i for i in my_list if i != item_to_remove]

print(my_list) # output: [1, 2, 4, 5]

[1, 2, 4, 5]

In [18]:
#Python program to check if the list contains three consecutive common numbers in Python
arr=[4,5,5,5,3,8]
size=len(arr)
for i in range(size-2):
    if arr[i]==arr[i+1] and arr[i + 1] == arr[i + 2]:
        print(arr[i])

5

In [24]:
# factorial number

def fact(n):
    if n==1:
        return n
    else:
        return n*fact(n-1)
fact(5)

120

In [25]:
# #Remove all the occurrences of an element from a list in Python
l=[1, 3, 4, 6, 5, 1]
ele=1
x=[i for i in l if ele!=i]
print (x)

[3, 4, 6, 5]

[1, 1, 2, 3, 4, 678, 6, 2, 1, 2]

In [31]:
def even_numbers(n):
    i = 0
    while i < n:
        yield i * 2
        i += 1

In [32]:
my_generator = even_numbers(5)
for num in my_generator:
    print(num)

0
2
4
6
8

In [33]:
# Python Code to Remove empty List from List
def empty_list_remove(input_list):
    new_list = []
    for ele in input_list:
        if ele:
            new_list.append(ele)
    return new_list
# input list values
input_list = [5, 6, [], 3, [], [], 9]
print (f"List after empty list removal : {empty_list_remove(input_list)}")

List after empty list removal : [5, 6, 3, 9]

In [35]:
#key to value in dict
d={'apple':'fruit','banana':'fruit','ladi':'veg','tometo':'veg'}
d2={}
for i in d:
    if d[i] not in d2:
        d2[d[i]]=[i]
    else:
        d2[d[i]].append(i)
d2

{'fruit': ['apple', 'banana'], 'veg': ['ladi', 'tometo']}

In [40]:
d={'apple':'fruit','banana':'fruit','ladi':'veg','tometo':'veg'}

d3={ j:i  for i ,j in d.items()}
d3

{'fruit': 'banana', 'veg': 'tometo'}

In [55]:
num=9
for n in range(1,num):
    for i in range(2,n):
        if (n%i==0):
            break
    else:
        print(n,end=',')

1,2,3,5,7,

In [60]:
num=1
row=4
for i in range(0,row):
    for j in range(0,i+1):
        print(num,end=' ')
        num=num+1
    print()

1
2 3
4 5 6
7 8 9 10