In [7]:
# palindrome num
num=int(input())
rev=0
pali=num
while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
print(pali)
print(rev)

if pali==rev:
    print('palindrome')
else:
    print(' not palindrome')

12123321546
12123321546
64512332121
 not palindrome

In [2]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [4]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [8]:
n=5
for i in range(n):
    for j in range(i):
        print('*',end=' ')
    print()
for m in range(n):
    for k in range(m,n):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [9]:
n=5
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for k in range(i,n):
        print('*',end=' ')
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [12]:
n=5 
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for k in range(i):
        print('*',end=' ')
    print()

        *
      * *
    * * *
  * * * *

In [17]:
n= 5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for k in range(i):
        print('*',end=' ')
    print()
for l in range(n):
    for h in range(l):
        print(' ',end=' ')
    for g in range(l,n):
        print('*',end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [3]:
# 5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same. Go to the editor
# Sample List : ['abc', 'xyz', 'aba', '1221']
# Expected Result : 2

lst= ['abc', 'xyz', 'aba', '1221']
c=0
for i in lst:
    if i==i[::-1]:
        c=c+1
print(c)

2

In [18]:
# write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples. Go to the editor
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
# Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

def last_ele(n):
    return n[-1]

def sort_list(tu):
    return sorted(tu,key=last_ele)

print(sort_list([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [21]:
# 10. Write a Python program to find the list of words that are longer than n from a given list of words

l=['hari','ab','om','kumawat']
l2=[]
n=4
for i in l:
    if len(i)>=n:
        s=l2.append(i)
l2

['hari', 'kumawat']

In [22]:
# 11. Write a Python function that takes two lists and returns True if they have at least one common member

In [23]:
array = [[ ['*' for col in range(6)] for col in range(4)] for row in range(3)]
print(array)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

In [24]:
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [27]:
l=[1,2,3]
for i in l:
    for j in l:
        for k in l:
            if i!=j and i!=k and j!=k:
                print(i,j,k)

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [1]:
from random import shuffle
l=[1,3,5,7,9,5,2]
shuffle(l)
l

[2, 9, 3, 5, 1, 7, 5]

In [2]:
s="hello"
sub=[]
for i in range(0,len(s)):
    for j in range(i+1,len(s)+1):
        sub.append(s[i:j])
print(sub)

['h', 'he', 'hel', 'hell', 'hello', 'e', 'el', 'ell', 'ello', 'l', 'll', 'llo', 'l', 'lo', 'o']

In [2]:
n=1
r=4
for i in range(0,r):
    for j in range(0,i+1):
        print(n,end=' ')
        n=n+1
    print()

1
2 3
4 5 6
7 8 9 10

In [13]:
n=eval(input())
p=n
print(type(p))
print(p)

<class 'list'>
[1, 2, 3]

In [4]:
d={'banana':'fruite','potota':'veg','apple':'fruite','tomoto':'veg'}
d1={}
for i in d:
    if d[i] not in d1:
        d1[d[i]]=[i]
    else:
        d1[d[i]].append(i)
print(d1)

{'fruite': ['banana', 'apple'], 'veg': ['potota', 'tomoto']}